@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@800&display=swap');

.mediaViewInfo {
	--web-view-name: Mobile Admin Dashboard;
	--web-view-id: Mobile_Admin_Dashboard;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Mobile_Admin_Dashboard;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Mobile_Admin_Dashboard {
	position: absolute;
	width: 414px;
	height: 896px;
	background-color: rgba(26,26,29,1);
	overflow: hidden;
	--web-view-name: Mobile Admin Dashboard;
	--web-view-id: Mobile_Admin_Dashboard;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Title_ho {
	position: absolute;
	width: 156px;
	height: 80px;
	left: 13px;
	top: 14px;
	overflow: visible;
}
#WINNING___WAGERS_hp {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 157px;
	height: 80px;
	text-align: left;
	font-family: Archivo;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}

.swal2-input {

	font-family: 'Archivo';
}

.swal2-input-label {
	font-family: 'Archivo';
}


#Odds_Section_hq {
	position: absolute;
	width: 358px;
	height: 547px;
	left: 28px;
	top: 174px;
	overflow: visible;
}
#Rectangle_1_hr {
	fill: rgba(217,217,217,0);
	stroke: rgba(149,7,64,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1_hr {
	position: absolute;
	overflow: visible;
	width: 358px;
	height: 547px;
	left: 0px;
	top: 0px;
}
#Profile_hs {
	position: absolute;
	width: 185px;
	height: 44px;
	left: 229px;
	top: 21px;
	overflow: visible;
}
#Ellipse_1_ht {
	fill: rgba(217,217,217,1);
}
.Ellipse_1_ht {
	position: absolute;
	overflow: visible;
	width: 44px;
	height: 44px;
	left: 0px;
	top: 0px;
}
#USERNAME_hu {
	left: 62px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 124px;
	height: 25px;
	text-align: left;
	font-family: Archivo;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#Manage_Bets_hv {
	left: 137px;
	top: 338px;
	position: absolute;
	overflow: visible;
	width: 141px;
	height: 26px;
	text-align: left;
	font-family: Archivo;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Manage_Users_hw {
	left: 134px;
	top: 500px;
	position: absolute;
	overflow: visible;
	width: 147px;
	height: 24px;
	text-align: left;
	font-family: Archivo;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}