@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@800&display=swap');


body {
	background-color: #1A1A1D;
}

.mediaViewInfo {
	--web-view-name: Mobile Admin Check In;
	--web-view-id: Mobile_Admin_Check_In;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Mobile_Admin_Check_In;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Mobile_Admin_Check_In {
	position: absolute;
	width: 414px;
	height: 896px;
	background-color: rgba(26,26,29,1);
	overflow: hidden;
	--web-view-name: Mobile Admin Check In;
	--web-view-id: Mobile_Admin_Check_In;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Title_hz {
	position: absolute;
	width: 138px;
	height: 122.295px;
	left: 28px;
	top: 62px;
	overflow: visible;
}
#Line_2_h {
	fill: transparent;
	stroke: rgba(111,34,50,1);
	stroke-width: 10px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_2_h {
	overflow: visible;
	position: absolute;
	width: 106px;
	height: 1px;
	transform: translate(-28px, -62px) matrix(1,0,0,1,65.2515,146.6135) rotate(137.782deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Line_4_h {
	fill: transparent;
	stroke: rgba(111,34,50,1);
	stroke-width: 10px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_4_h {
	overflow: visible;
	position: absolute;
	width: 106px;
	height: 1px;
	transform: translate(-28px, -62px) matrix(1,0,0,1,20.2515,104.6135) rotate(137.782deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Line_3_h {
	fill: transparent;
	stroke: rgba(111,34,50,1);
	stroke-width: 10px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_3_h {
	overflow: visible;
	position: absolute;
	width: 182px;
	height: 1px;
	transform: translate(-28px, -62px) matrix(1,0,0,1,7.3941,123.1477) rotate(137.782deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}

#Login_Section_ef {
	position: absolute;
	width: 316px;
	height: 357px;
	left: 34px;
	top: 321px;
	overflow: visible;
}

#Rectangle_1_eg {
	fill: rgba(217,217,217,0);
	stroke: rgba(149,7,64,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1_eg {
	position: absolute;
	overflow: visible;
	width: 316px;
	height: 357px;
	left: -25px;
	top: -20em;
}


.swal2-input {

	font-family: 'Archivo';
}

.swal2-input-label {
	font-family: 'Archivo';
}
#Username_Box_en {
	position: absolute;
	width: 234px;
	height: 34.5px;
	left: 1em;
	top: -13em;
	overflow: visible;
}

#Rectangle_3_eo {
	background: none;
	fill: rgba(217,217,217,0.071);
	stroke: rgba(255,255,255,1);
	
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_3_eo {
	border-radius: 4px;
	color: white;
	padding-left: 40px;
	background-color: #27272a;
    transition: width 0.4s ease-in-out;
	overflow: visible;
	position: absolute;
	width: 234px;
	height: 34px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}

.Rectangle_3_eo:focus {
	width: 110%;

}

#Login_BTN_eh {
	position: absolute;
	background-color: #6f2232;
	border-radius: 10px;
	width: 132px;
	height: 22px;
	left: 1em;
	top: -12em;
	overflow: visible;
}
#Login_BTN_eh:hover {
	background-color: #c3073f;
	transition: .5s;

}

#WINNING___WAGERS_h {
	left: 0px;
	top: 45px;
	position: absolute;
	overflow: hidden;
	width: 139px;
	height: 44px;
	text-align: left;
	font-family: Archivo;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Login_Section_h {
	position: absolute;
	width: 316px;
	height: 357px;
	left: 34px;
	top: 321px;
	overflow: visible;
}
#Rectangle_1_h {
	fill: rgba(217,217,217,0);
	stroke: rgba(149,7,64,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1_h {
	position: absolute;
	overflow: visible;
	width: 316px;
	height: 357px;
	left: 0px;
	top: 0px;
}
#Login_BTN_h {
	position: absolute;
	width: 132px;
	height: 22px;
	left: 1em;
	top: -9em;
	overflow: visible;
}
#Rectangle_4_h {
	fill: rgba(217,217,217,0.071);
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_4_h {
	overflow: visible;
	position: absolute;
	width: 132px;
	height: 22px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#LOGIN_h {
	left: 47px;
	top: 4px;
	position: absolute;
	overflow: visible;
	width: 56.022px;
	height: 13px;
	text-align: left;
	font-family: Archivo;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
#Password_Box_h {
	position: absolute;
	width: 234px;
	height: 41px;
	left: 39px;
	top: 117px;
	overflow: visible;
}
#Rectangle_2_ia {
	fill: rgba(217,217,217,0.071);
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2_ia {
	overflow: visible;
	position: absolute;
	width: 234px;
	height: 34px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Admin_Key_ib {
	left: 12.857px;
	top: 9px;
	position: absolute;
	overflow: hidden;
	width: 172px;
	height: 32px;
	text-align: left;
	font-family: Archivo;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(255,255,255,0.659);
}